* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-weight: normal;
    box-sizing: border-box;
}
html,body,#root {
    width: 100%;
    height: 100%;
}
.Cart_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        padding: .8rem 0 .1rem 0;
        ul {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: .8rem;
            background: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                flex: 1 1;
                color: #666;
                font-size: .24rem;
                text-align: center;
                span {
                    color: red;
                    margin-right: .15rem;
                    font-size: .3rem;
                }
            }
        }
    }
    .main {
        flex: 1;
        overflow-y: auto;
        .main_box {
            display: flex;
            height: 2.2rem;
            padding: .2rem;
            padding-left: 0;
            background: white;
            margin-top: 1px;
            .main_checkout {
                width: .8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: .38rem;
                    height: auto;
                }
            }
            .main_goods_img {
                width: 1.8rem;
                background: #f4f4f4;
                img {
                    width: 100%;
                    height: 1.8rem;
                }
            }
            .main_cart_cont {
                flex: 1 1;
                padding: 0 .1rem;
                min-width: 0;
                div {
                    height: 33.333%;
                    display: flex;
                    align-items: center;
                    font-size: .28rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .main_cart_num {
                width: auto;
            }
            .main_cart_centent {
                flex: 1 1;
                min-width: 0;
                >div {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: .2rem;
                }
                .main_cart_centent_name {
                    font-size: .3rem;
                }
                .main_cart_centent_box {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: .2rem;
                    div {
                        &:nth-child(2) {
                            display: flex;
                            flex: 1 1;
                            flex-direction: row-reverse;
                        }
                        .main_cart_centent_wrap {
                            width: auto;
                            display: flex;
                            div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: .5rem;
                            }
                            .cart_decrease {
                                width: .6rem;
                                height: .6rem;
                                border: 1px solid gainsboro;
                            }
                            .cont {
                                min-width: 1rem;
                                height: .6rem;
                                padding: 0 .2rem;
                                font-size: .32rem;
                                border: 1px solid gainsboro;
                                border-right: none;
                                border-left: none;
                            }
                            .cart_increase {
                                width: .6rem;
                                height: .6rem;
                                border: 1px solid gainsboro;
                            }
                        }
                    }
                }
            }
        }
        .footer , .cartGoodsDo {
            position: fixed;
            bottom: 1rem;
            height: 1.1rem;
            left: 0;
            width: 100%;
            background: white;
            display: flex;
            box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.2);
            z-index: 1000;
            .footer_checkout {
                width: .8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: .38rem;
                    height: auto;
                }
            }
            .footer_checkall {
                flex: 1 1;
                line-height: 1.1rem;
                font-size: .3rem;
            }
            .footer_compile , .footer_accomplish{
                width: auto;
                padding: 0 .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer_order , .footer_delete {
                text-align: center;
                background: #ab2b2b;
                color: white;
                padding: 0;
                width: 2.6rem;
                line-height: 1.1rem;
            }
        }
    }
}