.home{
    width: 100%;
    height: 100%;
    background: #DCDCDC;
    .home_banner{
        width: 100%;
        height: 4rem;
        border-bottom: 1px solid #eee;
        .swiper-container{
            width: 100%;
            height: 100%;
            .swiper-wrapper{
                width: 100%;
                height: 100%;
                .swiper-slide{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .swiper-pagination{
                position: absolute;
                bottom: 0;
                .swiper-pagination-bullet-active{
                    background: #333;
                }
            }
        }
    }
    .nav_list{
        width: 100%;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        dl{
            flex:1;
            text-align: center;
            dt{
                width: 100%;
                img{
                    width: 45%;
                }
            }
            dd{
                width: 100%;
            }
        }
    }
}