* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body,#root {
    width: 100%;
    height: 100%;
}
.comment_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: .88rem;
        background: #fff;
        display: flex;
        text-align: center;
        line-height: .88rem;
        padding:  0 .3rem;
        box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        .header_left {
            width: .6rem;
            a {
                text-decoration: none;
                color: black;
                i {
                    font-size: .28rem;
                }
            }
        }
        span {
            font-size: .32rem;
            flex: 1;
        }
    }
    .main {
        flex: 1;
        overflow-y: auto;
        padding: 0 .2rem;
            .main_wrap_comment_cont {
                width: 100%;
                .userInfo {
                    width: 100%;
                    display: flex;
                    height: .8rem;
                    justify-content: space-between;
                    padding-top: .3rem;
                    div {
                        font-size: .28rem;
                        &:last-child {
                            color: #808080;
                        }
                    }
                }
                .user_cont {
                    font-size: .32rem;
                    color: #808080;
                    padding-top: .2rem;
                }
                .user_parting {
                    padding-top: .3rem;
                    border-bottom: 1px solid #808080;
                }
            }
            .moreComment {
                line-height: .8rem;
                text-align: center;
                display: block;
                color: black;
                padding-top: .4rem;
                a {
                    background: transparent;
                    text-decoration: none;
                    outline: none;
                }
            }
    }
}