*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 0.28rem;
}  
html,body,#root,.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    .main_main{
        flex:1;
    }
    .main_footer{
        width: 100%;
        height: 1rem;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        box-shadow: 0 -3px 10px 0 rgba(0,0,0,.2);
        a{
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000;
            dl{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                dt{
                    width: 100%;
                    i{
                        font-size: .4rem;
                    }
                }
                dd{
                    width: 100%;
                    font-size: .2rem;
                    margin-top: .1rem;
                }
            }
            &.footer_active{
                color:#359DF4
            }
        }
    }
}